<style>
.form-inputs input {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 12px;
  width: 100%;
}

.form-actions {
  margin-top: 20px;
}
.form-actions button {
  width: 100%;
  background-color: #3B6B94;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form-actions button:hover {
  background-color: #74ABDE;
}

/* Add your styles for headings here */
.header {
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Add your styles for link button here */
.btn-primary{
  background-color: #3B6B94;
  border-color: transparent;
}
.btn-primary:hover{
  background-color: #74ABDE;
  border-color: transparent;
}
</style>

<h1 class="text-center header" style="padding-top: 20px">Edit Your Profile Information<% resource_name.to_s.humanize %></h1>

<div class="container h-100">
  <div class="">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px; margin-top: 30px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
               <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-inputs", data: { turbo: :false }) do |f| %>
                  <%= f.error_notification %>

                    <%= f.input :username, required: true, autofocus: true, class: "form-control" %>
                    <%= f.input :email, required: true, autofocus: true, class: "form-control" %>
                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                    <% end %>

                    <%= f.input :new_password,
                                hint: "leave it blank if you don't want to change it",
                                required: false,
                                input_html: { autocomplete: "new-password" }, class: "form-control" %>
                    <%= f.input :confirm_new_password,
                                required: false,
                                input_html: { autocomplete: "new-password" }, class: "form-control" %>
                    <%= f.input :current_password,
                                hint: "we need your current password to confirm your changes",
                                required: true,
                                input_html: { autocomplete: "current-password" }, class: "form-control" %>
                    <%= f.label :photo, class:"b-primary" %>
                    <%= f.file_field :photo, class: "form-control" %>

                  <div class="form-actions d-flex justify-content-between">
                    <div>
                    <%= link_to "Back", :back, class: "btn btn-outline-secondary" %>
                    </div>
                    <div>
                      <%= f.button :submit, "Update", class: "btn btn-primary"%>
                    </div>
                  <% end %>
                  </div>

                  <div class="text-center" style="margin-top: 15px; margin-bottom: 5px">Unhappy?</div>
                  <div class="container text-center">
                  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-warning" %>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
