<style>
.btn-primary{
  background-color: #3B6B94;
  border-color: transparent;
}
.btn-primary:hover{
  background-color: #74ABDE;
  border-color: transparent;
}
</style>

<h1 class="text-center heady" style="margin-top: 40px">Edit group:</h1>

<div class="container h-100">
  <div class="">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px; margin-top: 30px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <%= simple_form_for @group, url: group_path(@group), method: :patch do |f| %>
                  <%= f.input :title, input_html: { style: "border-color: transparent;"} %>
                  <%= f.input :description, input_html: { style: "border-color: transparent;"} %>
                  <%= f.input :photo, as: :file, required: false, input_html: { style: "border-color: lightgrey;"} %>
                  <div class="form-actions d-flex justify-content-between">
                    <div>
                    <%= link_to "Back", group_path(@group), class: "btn btn-outline-secondary", input_html: {role: "button"}%>
                    </div>
                    <div>
                    <%= f.button :submit, "Update", class: "btn btn-primary", input_html: {role: "button"}%>
                  <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
