<div class="container">
  <h1 class="text-center" style="padding: 20px"><%= @group.title%></h1>

  <div class="text-center">
    <img src="https://images.unsplash.com/photo-1628891890377-57dba2715caf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c29jY2VyJTIwdGVhbXxlbnwwfHwwfHw%3D&w=1000&q=80" style="border-radius: 50%; width: 30%;">
  </div>

  <div class="text-center" style="padding: 40px">
  <h2>Group Description:</h2>
  <h3><%= @group.description %></h3>
  </div>
</div>

<div class="text-center" style="padding: 20px">
  <% if current_user %>
    <% if current_user.user_groups.find_by(group_id: @group.id) %>
      <button class="btn btn-primary" disabled>Signed Up!</button>
      <%= link_to "Leave Group",
      user_group_path(current_user.user_groups.find_by(group_id: @group.id)),
      data: { turbo_method: :delete, confirm: "Are you sure you want to cancel your registration?" },
      class: "btn btn-danger" %>
    <% else %>
    <%= link_to 'Join the group', group_user_groups_path(params[:id]), data: { turbo_method: :post }%>
    <% end %>
  <% end %>
</div>

<div class="container" style="padding: 20px">
  <h3>Group Members:</h3>
    <% @users.each do |user| %>
      <%= link_to user_path(user) do %>
        <div class="card">
          <div class="text-center" style="padding: 20px">
            <div class="container" style="padding: 20px">
              <h4 class="b-primary"><%= user.username %></h4>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
