<style>
  .back {
    position: absolute;
    right: 0;
    top: 80px;
    padding: 20px;
  }

  .joined_users {
    border-radius: 19px;
    width: 65%;
  }
</style>

<div class="container">
  <h1 class="text-center" style="padding: 40px"><%= @group.title%></h1>

  <div class="text-center back" style="padding: 10px">
    <button type="button" class="btn btn-primary btn-sm"><%= link_to "Go back to all groups",groups_path, class: "a-primary"%></button>
  </div>

  <div class="text-center">
    <%= cl_image_tag @group.photo.key, class: 'img-fluid rounded mx-auto', height: '350', width: '350' %>
  </div>

  <div class="text-center" style="padding: 40px">
  <h2>Group Description:</h2>
  <h3><%= @group.description %></h3>
  </div>
</div>

<div class="text-center" style="padding: 20px">
  <% if current_user %>
    <% if current_user.user_groups.find_by(group_id: @group.id) %>
      <%= link_to "Leave Group",
      user_group_path(current_user.user_groups.find_by(group_id: @group.id)),
      data: { turbo_method: :delete, confirm: "Are you sure you want to leave the group?" },
      class: "btn btn-outline-danger btn-lg" %>
    <% else %>
    <%= link_to 'Join the group', group_user_groups_path(params[:id]), data: { turbo_method: :post }, class: "btn btn-primary btn-lg" %>
    <% end %>
  <% end %>
</div>

<div class="container" style="padding: 20px">
  <h3>Group Members:</h3>
</div>
<div class="container" style="padding: 20px">
  <div class="cards">
    <% if @users.empty?%>
      <h4>This group has no members</h4>
      <h4>&#128550</h4>
    <% else %>
      <% @users.each do |user| %>
        <%= link_to user_path(user), class: "a-primary" do %>
          <div class="card" style="border-radius: 110px">
            <div class="text-center" style="padding: 20px">
              <div class="container" style="padding: 20px">
                <%= cl_image_tag user.photo.key, class: 'img-fluid rounded mx-auto', height: '150', width: '150' %>
                <h4 class="b-primary" style="margin: auto; padding: 5px"><%= user.username %></h4>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
