<style>
.athlete-pic {
  object-fit: cover;
  height: 150px;
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  transition: all 0.2s;
}

.athlete-pic:hover {
  transform: translateY(-3px);
  border-width: thick;
  border-style: solid;
  border-color: #2ede31 !important;
}


.a-athlete {
  text-decoration: none;
  color: #0D315B;
  text-align: center;
}

.a-athlete:hover {
  text-decoration: none;
  color: #2ede31;
}

.h33 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 0 auto;
  text-align: center;
}

.athlete-card {
  background-color: white;
  border-radius: 5%;
  min-height: 320px;
  width: 250px;
  padding: 5px;
  margin-bottom: 10px;
}

.sportcircle {
  height: 40px;
  width: 40px;
  margin: 3px;
  border-radius: 50%;
  display: inline-block;

  }

.sport-photo {
	transition: all 0.2s;
}

.sport-photo:hover {
	transform: translateY(-3px);
}
</style>

<h1 class="heady">Athletes near you</h1>

<div class="container">
  <div class="row row-cols-1 row-cols-md-5">
    <% @users.each do |user| %>
      <div class="col-md-3 pb-4 mb-10">
          <div class="athlete-card flex-container shadow mx-auto" style="background-color: white;">
            <%= link_to user_path(user) do %>
              <% if user.photo.attached? %>
                <%= cl_image_tag user.photo.key, class: 'rounded-circle athlete-pic d-flex mx-auto' %>
              <% else %>
                <%= image_tag "default_avatar.png", class: 'rounded-circle athlete-pic d-flex mx-auto' %>
              <% end%>
            <% end %>
            <div class="flex-container text-center">
              <div style="padding-bottom: 20px">
              </div>
            <div class="flex-container text-center">
              <div class="card-body text-center" style="margin-bottom: 5px">
                <div style="padding-bottom: 20px">
                  <%= link_to user.username, user_path(user), class: 'btn btn-primary' %>
                </div>
                <% user.user_sports.each do |sport| %>
                  <%= image_tag sport.sport.photo, class: 'sportcircle sport-photo' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
