<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap" rel="stylesheet">

<style>
  body {
    font-family: 'Karla', sans-serif;
  }

  .container {
    background-color: none;
  }

  h1, h4 {
    color: #03045E;
    font-family: 'Karla', sans-serif;
  }

  .pic {
    object-fit: cover;
  }

  .avatar-large {
  width: 100px;
  border-radius: 50%;
}
</style>

<div class="container mt-5 text-center">
  <div class="row justify-content-center">
    <div class="col-md-4 mb-3">
      <%= cl_image_tag @user.photo.key, class: 'rounded-circle pic', height: '200', width: '200' %>
      <h1 class="mt-3"><%= @user.username %></h1>
      <p class="text-muted"><%= @user.email %></p>
      <% @user.user_sports.each do |sport| %>
        <%= sport.sport.name %>
      <% end %>
      <%= link_to "My Events", my_events_path, class: "btn btn-primary" %>
      <% if @user == current_user %>
        <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-secondary" %>
      <% end %>
      <p class="text-muted"><% @user.user_sports %></p>
      <%= link_to "Tell us about the user", new_user_rating_path(@user), class: "btn btn-secondary", input_html: {role: "button"}%>
    </div>
  </div>
    <div class="conteiner">
      <div class="row" style="justify-content: center">
        <div class="col-12 col-md-6">
          <% @user.ratings.each do |f| %>
            <p><%= f.comment %></p>
          <% end %>
        </div>
      </div>
    </div>
</div>
