<style>
  .pic {
    object-fit: cover;
    height: 150px;
    width: 150px;
    margin-top: 20px;
  }

  .sportcircle {
    background-color: white;
    padding: 6px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }

  .card {
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 500px;
  height: 400px;
  border-radius: 5%;
  align-items: center;
  justify-content: center;
}

</style>

<div class="container">
  <div class="card">
    <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, class: 'rounded-circle pic' %>
    <% else %>
    <%= image_tag "default_avatar.png", class: 'rounded-circle pic' %>
    <% end %>
      <div>
        <h3><%= @user.username %></h3>
      </div>
        <div>
          <% if @user == current_user %>
          <%= link_to "Edit Profile", edit_user_registration_path(@user), class: "btn btn-secondary" %>
          <% end %>
        </div>
      <div class="row">
        <% @user.user_sports.each do |sport| %>
    <%= image_tag sport.sport.photo, class: 'sportcircle' %>
    <% end %>
  </div>
</div>

  <% if @user != current_user %>
  <%= link_to "Tell us about the user", new_user_rating_path(@user), class: "btn btn-default", input_html: {role: "button"}%>
  <% end %>

  <% @user.ratings.each do |f| %>
    <p><%= f.comment %></p>
  <% end %>
