<style>
.btn-primary{
  background-color: #3B6B94;
  border-color: transparent;
}
.btn-primary:hover{
  background-color: #74ABDE;
  border-color: transparent;
}
.hello {
  padding: 8px;
}
</style>


<div class="container h-100">
  <div>
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px; margin-top: 30px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <%= simple_form_for @event, data: { controller: 'flatpickr' } do |f| %>
                  <%= f.input :title %>
                  <%= f.association :sport %>
                  <%= f.association :level %>
                  <%= f.input :description %>
                  <%= f.input :location,
                    input_html: {data: {address_autocomplete_target: "address"}},
                    wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
                  <%= f.input :date %>
                  <%= f.input :time %>
                  <div class="d-flex justify-content-between py-2">
                    <%= link_to "Back to all events", events_path, class: "btn btn-outline-secondary hello", input_html: {role: "button"}%>
                    <%= f.button :submit, "Create", class: "btn btn-primary"%>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
