<style>
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .6s;
    transition: .6s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2ede31;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
</style>

<div class="container" data-controller="toggle">
  <div class="d-flex flex-row justify-content-center mt-4" style="padding: 5px; gap: 20px;">
    <h4>Map view</h4>
    <label class="switch" data-toggle-target="togglebutton" data-action="change->toggle#updateView">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
    <h4>List view</h4>
  </div>

  <h1 class="text-center" style="padding: 10px"><b>All Sporting Events</b></h1>


<div class="container" style="padding: 40px">
  <div class="row">
    <div class="col-12 text-center">
      <% if current_user %>
        <%= link_to 'Create New Event', new_event_path, class: 'btn btn-primary btn-lg' %>
      <% end %>
    </div>
  </div>
</div>

  <div class="container" data-toggle-target="karte">
    <div style="width: 100%; height: 500px; border-radius: 20px; border: 1px solid lightgrey; box-shadow: none; background-color: transparent;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div class="row mt-5 d-none" data-toggle-target="list">
    <% @events.each do |event| %>
      <div class="col-3 mb-4">
        <div class="card">
          <%= link_to event_path(event), class: "b-primary" do %>
            <img src="https://i.postimg.cc/1X8R7m8y/design.png">
            <div class="card__content">
              <h2><b><%=event.title%></b></h2>
              <p style="font-size: 16px">
                <%=event.description%>
              </p>
              <a href="#" class="card__content"></a>
              <h6 class="text-center"><b>Location: </b><%=event.location%></h6>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
