<html>
  <body>
    <div class="container">
    <h1 class="form_header">All your events:</h1>
      <% current_user.events.each do |event| %>
      <%= event.title %>
      <%= event.description %>
      <%= event.description %>
      <%= event.location %>
      <%= event.date %>
      <%= event.time %>
      <% end %>
    </div>
  </body>
</html>
