<% content_for :meta_title, "#{@event.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @event.description %>
<%# content_for :meta_image, image_path(@event.photo.key) if @event.photo.attached? %>
<style>
.text-primary-2 {
  color: #3B6B94;
}
.btn-primary-1 {
  border-radius: 4px;
  width: 280px;
  position: relative;
  color: aliceblue;
}
.btn-danger {
  background-color: #b6465f;
  border: none;
}
.card-border {
  border-radius: 4px;
  background-color: #EDEDED;
  border: 5px;
}
.inverted-3 {
    background:
      linear-gradient(-135deg, #3B6B94  50%, #fff 0) var(--_d, 100%)/250% no-repeat,
      linear-gradient(-135deg, #3B6B94 50%, #5BC0F8 0) var(--_d, 100%)/250% no-repeat;
    -webkit-background-clip: text, padding-box;
            background-clip: text, padding-box;
    transition: 0.8s
  }

  .inverted-3:hover {
    --_d: 50%;
  }
</style>
<div class="container-fluid" style="height: 100vh; background-size: 100%; object-fit: cover; background-repeat: no-repeat; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/random/?orientation=landscape&<%= @event.sport.name.downcase %>')">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="container mt-5">
        <div class="card card-border mx-auto" style="max-width: 20rem;">
          <div class="card-body">
            <div class="row">
              <div class="col-12 text-center">

                <h1 class="text-center"><%= @event.title %></h1>

                  <p class="text-center text-secondary">
                    <strong>Sport:</strong> <%= @event.sport.name %><br>
                    <strong>Description:</strong> <%= @event.description %><br>
                    <strong>Level:</strong> <%= @event.level.name %><br>
                    <strong>Location:</strong> <%= @event.location %><br>
                    <strong>Date:</strong> <%= @event.date %><br>
                    <strong>Time:</strong> <%= @event.time %>
                  </p>
                  <% if @event.user == current_user %>
                    <%= link_to "Update Event", edit_event_path(@event), class: "btn btn-secondary" %>
                  <% end %>
                  <% if @event.user_id == current_user.id %>
                    <%= link_to "Cancel Event", event_path(@event), data: { turbo_method: :delete, confirm: "Are you sure you want to cancel this event?" }, class: "btn btn-danger" %>
                  <% end %>
                    <div class="row mt-5">
                      <div class="col-12 text-center" style= "padding: 20px, padding-top: -10px, width: 150px">
                        <%= link_to "Back to all events", events_path, class: "btn btn-primary", input_html: {role: "button"}%>
                      </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="col-4">
    <div class="card card-border mx-auto mt-5" style="max-width: 20rem;">
      <div class="card-body text-center">
        <h3 class="card-title text-center text-primary-2">Participants</h3>
          <ul class="list-unstyled">
            <% @event.participating_users.each do |participating_user| %>
              <li class="text-center text-secondary"><%= participating_user.user.username %></li>
            <% end %>
          </ul>
        <div class="text-center mt-3">
          <% if current_user %>
            <% if current_user.participating_users.find_by(event_id: @event.id) %>
              <%# <button class="btn btn-primary" disabled>Signed Up!</button> %>
              <%= link_to "Cancel Registration",
                participating_user_path(current_user.participating_users.find_by(event_id: @event.id)),
                data: { turbo_method: :delete, confirm: "Are you sure you want to cancel your registration?" },
                class: "btn btn-danger" %>
            <% else %>
              <%= simple_form_for [@event, @participating_user] do |form| %>
                <%= form.submit 'Sign up', class: "btn btn-primary inverted-3" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <div class="text-center mx-auto">
    <div><br>
      <% if current_user %>
        <% if current_user.participating_users.find_by(event_id: @event.id) %>
            <%= link_to 'Join the group chat!', chatroom_path(@chatroom), class: "btn btn-primary-1 btn-lg inverted-3" %>
        <% end %>
      <% end %>
        </div>

      </div>
    </div>
  </div>

</div>
